#phantrangnew {
    display: block;
    float: left;
    margin-top: 20px;
    width: 636px;
}

    #phantrangnew span {
        color: #FF0000;
        font-weight: bold;
        text-decoration: none;
    }

    #phantrangnew a {
        color: #A05803;
        font-weight: bold;
        text-decoration: none;
    }

.breadcrumb {
    text-align: left;
}

    .breadcrumb a {
        color: #A05803;
        font-weight: bold;
        text-decoration: none;
    }

        .breadcrumb a:hover {
            color: #FF0000;
            font-weight: bold;
            text-decoration: none;
        }

#product a {
    padding: 10px;
}

.productinfo {
    text-align: left;
    padding: 5px;
}

    .productinfo .picture {
        float: left;
        width: 48%;
    }

    .productinfo .overview {
        float: right;
        width: 51%;
        margin-top: 35px;
    }

    .productinfo .fulldescription {
        float: left;
        padding: 5px 0;
    }

    .productinfo .related {
        float: left;
    }

#otherproduct {
    height: 100px;
    display: block;
    margin-top: 20px;
}

    #otherproduct .image {
        float: left;
        width: 40%;
    }

    #otherproduct .productname {
        float: right;
        width: 59%;
    }

#shoppingcart .productname {
    text-align: left;
    border-bottom: solid 1px red;
    padding-bottom: 5px;
    width: 656px;
    float: left;
}

#table_cart1 a {
    color: #612700;
    font-size: 12px;
}

#table_cart2 .cart_total_right {
    padding-left: 10px;
}

.clear {
    clear: both;
}

.Buttons {
    margin-top: 20px;
}

#shippingaddress .title {
    text-align: left;
    border-bottom: solid 1px red;
    padding-bottom: 5px;
    width: 636px;
    float: left;
    color: #D30606;
    font-size: 14px;
    margin: 6px;
    font-weight: bold;
}

#CheckoutData {
    text-align: left;
}

    #CheckoutData .subtitle {
        clear: both;
        font-weight: bold;
        padding: 10px 10px 5px 0;
    }

    #CheckoutData .ItemBox {
        padding-bottom: 10px;
        text-align: center;
        vertical-align: text-top;
    }

    #CheckoutData .AddressItem {
        border: 1px solid #C08328;
        height: auto;
        margin: 10px;
        text-align: center;
        width: 200px;
    }

    #CheckoutData .SelectButton {
        margin-bottom: 5px;
        margin-top: 5px;
        text-align: center;
    }

    #CheckoutData .AddressBox {
        text-align: left;
    }

    #CheckoutData .EnterAddress {
        border: 1px solid #C08328;
        height: auto;
        margin-bottom: 10px;
        text-align: center;
        width: 636px;
    }

    #CheckoutData .EnterAddressBody {
        margin: 10px;
        text-align: left;
    }

    #CheckoutData .Button {
        margin: 10px;
        text-align: left;
    }

    #CheckoutData .TheSameAddress {
        margin: 10px;
        text-align: left;
    }

    #CheckoutData .ShippingOptions {
        border: 1px solid #C08328;
        height: auto;
        margin-bottom: 10px;
        text-align: left;
        width: 636px;
    }

    #CheckoutData .ShippingOptionItem {
        padding: 5px 0 0 5px;
        text-align: left;
        vertical-align: text-top;
    }

    #CheckoutData .OptionName {
        font-weight: bold;
    }

    #CheckoutData .OptionDescription {
        padding: 5px 0 5px 16px;
    }

    #CheckoutData .PaymentMethods {
        border: 1px solid #C08328;
        height: auto;
        margin-bottom: 10px;
        text-align: left;
        width: 636px;
    }

    #CheckoutData .PaymentMethodItem {
        padding: 5px;
        text-align: left;
        vertical-align: text-top;
    }

.textBox {
    background: url("Images/bgTextBox.gif") repeat-x scroll left top white;
    border-color: #A8BAC2 #DFE5E7 #DFE5E7 #A8BAC2;
    border-right: 1px solid #DFE5E7;
    border-style: solid;
    border-width: 1px;
    color: #11354A;
    font-family: verdana;
    font-size: 8pt;
    height: 15px;
    margin: 1px;
    padding: 1px;
}

.sliceMenu {
    height: 163px;
    left: 0;
    overflow: hidden;
    position: relative;
    top: 0;
    width: 901px;
}

.button {
    background: url("images/button.jpg") repeat-x scroll left top #EFE6D5;
    border: medium none;
    color: #FFFFFF;
    font-size: 11px;
    height: 21px;
    padding: 3px 10px;
}

    .button:hover {
        cursor: pointer;
    }
/* MENU -----------------------------------------------------------------------------------------------------------------------*/
#menutop {
    width: 998px;
    height: 124px;
    display: block;
    float: left;
}

#menu_bgtop {
    width: 998px;
    height: 50px;
    display: block;
    float: left;
}

#tabmenu {
    width: 998px;
    height: 33px;
    display: block;
    float: left;
}

#bg1 {
    width: 23px;
    height: 33px;
    background-image: url(images/mnbg_01.jpg);
    display: block;
    float: left;
}

#bg2 {
    width: 66px;
    height: 33px;
    background-image: url(images/mnbg_02.jpg);
    display: block;
    float: left;
}

#bg3 {
    width: 69px;
    height: 33px;
    background-image: url(images/mnbg_03.jpg);
    display: block;
    float: left;
}

#bg4 {
    width: 69px;
    height: 33px;
    background-image: url(images/mnbg_04.jpg);
    display: block;
    float: left;
}

#bg5 {
    width: 80px;
    height: 33px;
    background-image: url(images/mnbg_05.jpg);
    display: block;
    float: left;
}

#bg6 {
    width: 88px;
    height: 33px;
    background-image: url(images/mnbg_06.jpg);
    display: block;
    float: left;
}

#bg7 {
    width: 86px;
    height: 33px;
    background-image: url(images/mnbg_07.jpg);
    display: block;
    float: left;
}

#bg8 {
    width: 62px;
    height: 33px;
    background-image: url(images/mnbg_08.jpg);
    display: block;
    float: left;
}

#bg9 {
    width: 23px;
    height: 33px;
    background-image: url(images/mnbg_09.jpg);
    display: block;
    float: left;
}


#menu1 {
    width: 68px;
    height: 33px;
    display: block;
    float: left;
}

#menu2 {
    width: 94px;
    height: 33px;
    display: block;
    float: left;
}

#menu3 {
    width: 70px;
    height: 33px;
    display: block;
    float: left;
}

#menu4 {
    width: 70px;
    height: 33px;
    display: block;
    float: left;
}

#menu5 {
    width: 66px;
    height: 33px;
    display: block;
    float: left;
}

#menu6 {
    width: 64px;
    height: 33px;
    display: block;
    float: left;
}

#menu1 a {
    display: block;
    width: 68px;
    height: 33px;
    background-image: url(images/menu01.jpg);
    background-repeat: no-repeat;
    font-family: time news romain;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #CDA263;
    text-decoration: none;
    line-height: 33px;
    text-align:center;
}

    #menu1 a:hover {
        color: #EEE5D3;
    }

#menu2 a {
    display: block;
    width: 94px;
    height: 33px;
    background-image: url(images/menu02.jpg);
    background-repeat: no-repeat;
    font-family: time news romain;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #CDA263;
    text-decoration: none;
    line-height: 33px;
    text-align:center;
}

    #menu2 a:hover {
        color: #EEE5D3;
    }

#menu3 a {
    display: block;
    width: 70px;
    height: 33px;
    background-image: url(images/menu03.jpg);
    background-repeat: no-repeat;
    font-family: time news romain;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #CDA263;
    text-decoration: none;
    line-height: 33px;
    text-align:center;
}

    #menu3 a:hover {
        color: #EEE5D3;
    }

#menu4 a {
    display: block;
    width: 70px;
    height: 33px;
    background-image: url(images/menu04.jpg);
    background-repeat: no-repeat;
    font-family: time news romain;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #CDA263;
    text-decoration: none;
    text-align:center;
}

    #menu4 a:hover {
        color: #EEE5D3;
    }

#menu5 a {
    display: block;
    width: 66px;
    height: 33px;
    background-image: url(images/menu05.jpg);
    background-repeat: no-repeat;
    font-family: time news romain;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #CDA263;
    text-decoration: none;
    text-align:center;
}

    #menu5 a:hover {
        color: #EEE5D3;
    }

#menu6 a {
    display: block;
    width: 67px;
    height: 33px;
    background-image: url(images/menu06.jpg);
    background-repeat: no-repeat;
    font-family: time news romain;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    color: #CDA263;
    text-decoration: none;
    text-align:center;
}

    #menu6 a:hover {
        color: #EEE5D3;
    }

#menu_bgbottom {
    width: 998px;
    height: 41px;
    display: block;
    float: left;
}

#mn_bgtop {
    width: 998px;
    height: 50px;
    background-image: url(images/menu_bgtop.jpg);
}

#mn_bgbottom {
    width: 998px;
    height: 41px;
    background-image: url(images/menu_bgbott.jpg);
}

.notdisplay {
    display: none;
    visibility: hidden;
}

.OrderCompleted .body {
    text-align: left;
}
