/* CSS Document */
*
{
    padding: 0;
    margin: 0;
}
body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Tahoma, Verdana;
    font-size: 12px;
    color: #612700;
    background-image: url(images/bg.jpg);
}

#container
{
    width: 998px;
    height: auto;
    background-image: url(images/bg_repeat.jpg);
    background-repeat: repeat-y;
    margin: auto;
    padding: 0px;
}
#container_home
{
    width: 998px;
    height: auto;
    background-image: url(images/bgfull_home.jpg);
    background-repeat: repeat-y;
    margin: auto;
    padding: 0px;
}
#center
{
    width: 998px;
    background-image: url(images/bg_repeat.jpg);
    background-repeat: repeat-y;
    display: block;
    float: left;
}
#center_home
{
    width: 998px;
    background-image: url(images/bgfull_home.jpg);
    background-repeat: repeat-y;
    display: block;
    float: left;
}


/* MAI DINH */
#header
{
    width: 998px;
    height: 229px;
    margin-top: 0px;
    background-image: url(images/index_01.jpg);
    background-repeat: no-repeat;
}
/* MENU -----------------------------------------------------------------------------------------------------------------------*/
#menu_button
{
    width: 151px;
    height: 124px;
    margin: 0px 0px 0px 0px;
    float: left;
    overflow: hidden;
}


/*-----------------------------------------------+-----+----HOME PAGE----+-----+-----------------------------------------------*/
/*-----------------------------------------------------------+-----+-----------------------------------------------------------*/
#hometitle
{
    width: 952px;
    height: 62px;
    display: block;
    float: left;
    padding-left: 22px;
}


/*Cua ben trai*/
#leftdoor
{
    width: 226px;
    height: 422px;
    background-image: url(images/Leftdoor.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-left: 23px;
    margin-right: 0px;
}
#video
{
    width: 171px;
    height: 150px;
    display: block;
    float: left;
}
#video p
{
    margin-top: 62px;
    margin-left: 30px;
}
#homelefttext
{
    width: 160px;
    display: block;
    float: left;
    margin-top: 80px;
    margin-left: 35px;
}
#homelefttext a
{
    padding-top-left: 20px;
    padding-top-right: 20px;
}
.home_detail
{
    font-size: 12px;
    color: #814107;
}
#chitieticon
{
    display: block;
    float: left;
    margin-top: 5px;
    padding-left: 30px;
}
#chitieticon a
{
    margin-top: 10px;
}
.chitiet
{
    font-size: 11px;
    font-weight: bold;
    color: #996600;
    text-decoration: none;
}
.chitiet:hover
{
    font-size: 11px;
    font-weight: bold;
    color: #996600;
    text-decoration: underline;
}

/*Flash Quy trinh Phan Nu */
#maindoor
{
    width: 500px;
    height: 422px;
    margin: 0px;
    display: block;
    float: left;
}

/*Cua ben phai */
#rightdoor
{
    width: 226px;
    height: 422px;
    background-image: url(images/rightdoor.jpg);
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin-right: 23px;
    margin-top: 0px;
    padding-top: 0px;
}
#home_newstitle
{
    width: 160px;
    display: block;
    float: left;
    margin-top: 60px;
    padding-left: 25px;
}
#home_newstitle ul
{
    text-align: left;
}
.tieude
{
    font-size: 12px;
    color: #cd0a0a;
    font-weight: bold;
    padding-top: 20px;
    text-decoration: none;
}
#news1_ct
{
    width: 165px;
    display: block;
    float: left;
    margin-left: 26px;
    text-align: left;
    margin-top: 10px;
    text-align: justify;
}
#news1_ct img
{
    margin-top: 0px;
    display: block;
    float: left;
    margin-right: 5px;
}
#othernews
{
    width: 165px;
    display: block;
    float: left;
    margin-left: 26px;
    text-align: left;
    margin-top: 5px;
    height:100px;
    overflow:auto;
}
.other_news
{
    font-size: 12px;
    color: #cd0a0a;
    text-decoration: none;
}
.other_news:hover
{
    font-size: 12px;
    color: #cd0a0a;
    text-decoration: underline;
}

/*San pham tieu bieu */
#special
{
    width: 100%;
    height: 164px;
    background-image: url(images/special.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-top: 15px;
}
#leftscroll
{
    width: 12px;
    display: block;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
}
#leftscroll img
{
    display: block;
    float: left;
    padding-top: 40px;
    margin-right: 10px;
}
#home_product
{
    display: block;
    float: left;
}
#rightscroll
{
    width: 12px;
    display: block;
    float: left;
    margin-top: 30px;
}
#rightscroll img
{
    display: block;
    float: left;
    margin-left: 10px;
    padding-top: 40px;
}

#specialproduct
{
    width: 280px;
    display: block;
    float: left;
    padding-right: 5px;
    margin-top: 19px;
    text-align: left;
}
#specialproduct img
{
    display: block;
    float: left;
    margin-right: 10px;
}
#specialproduct p
{
    text-align: left;
    padding-left: 134px;
}
#specialproduct a
{
    text-align: left;
}
.home_sp_name
{
    font-size: 16px;
    color: #CC9900;
    font-weight: bold;
    text-decoration: none;
}
.home_sp_name:hover
{
    font-size: 16px;
    color: #c56304;
    font-weight: bold;
    text-decoration: none;
}
.special_detail
{
    font-size: 12px;
    color: #FFFFFF;
    text-align: left;
}



/*------------------------------------------------+-----+----PRODUCT----+-----+------------------------------------------------*/
/*-----------------------------------------------------------+-----+-----------------------------------------------------------*/
/* PAGE NAME */

#page_gioithieu
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_gioithieu.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_sanpham
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_sanpham.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_landadep
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_landadep.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_thusuc
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_thusuc.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_hoidap
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_hoidap.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_gopy
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_gopy.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_lienhe
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_lienhe.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_taikhoan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_taikhoan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_giohang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_giohang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_diachithanhtoan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_diachithanhtoan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_diachigiaohang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_diachigiaohang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_phuongthucthanhtoan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_phuongthucthanhtoan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_thongtinthanhtoan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_thongtinthanhtoan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_xacnhanmuahang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_xacnhanmuahang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_hoantatmuahang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_hoantatmuahang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_chitietdonhang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_chitietdonhang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_dangnhap
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_dangnhap.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_dangkytaikhoan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_dangkytaikhoan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_quenmatkhau
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_quenmatkhau.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_chinhsachbanhang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_chinhsachbanhang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_huongdanmuahang
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_huongdanmuahang.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_cachinhthucthanhtoan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_cachinhthucthanhtoan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_baomatvacanhan
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_baomatvacanhan.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}
#page_sodowebsite
{
    width: 998px;
    height: 114px;
    background-image: url(images/tieudetrang_sodowebsite.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    padding: 0px 0px 0px 0px;
}



/*LEFT ------------------------------------------------------------------------------------------------------------------------*/
#bg_left
{
    width: 29%;
    height: auto;
    background-image: url(images/left.jpg);
    background-repeat: repeat-y;
    overflow: hidden;
    float: left;
    padding-top: 0px;
    margin: 0px 0px 0px 0px;
}

#logo
{
    width: 185px;
    height: 107px;
    display: block;
    float: left;
    margin-left: 50px;
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
}
#logo:hover
{
    width: 185px;
    height: 107px;
    display: block;
    float: left;
    margin-left: 50px;
    background-image: url(images/logo.jpg);
    background-repeat: no-repeat;
    cursor: pointer;
}


/*Day menu doc*/
#menudoc
{
    display: block;
    float: right;
}
#menudoc ul
{
    list-style: none;
    padding-top: 20px;
    margin-left: 5px;
}

#menudoc ul li.unselected a
{
    font-size: 12px;    
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    display: block;
    width: 192px;
    height: 26px;
    background-image: url(images/bg_button.jpg);
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 24px;
    text-align: left;
    color : #ffffff;
}

#menudoc ul li.selected a
{
    font-size: 12px;    
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    display: block;
    width: 192px;
    height: 26px;
    background-image: url(images/bg_button.jpg);
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 24px;
    text-align: left;
    color : #ffcc00;
}

#menudoc ul li a:hover
{
    font-size: 12px;
    color: #FFCC00;
    font-weight: bold;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
    display: block;
    width: 192px;
    height: 26px;
    background-image: url(images/bg_button.jpg);
    background-repeat: no-repeat;
    padding-left: 30px;
    line-height: 24px;
    text-align: left;
}

/*#menudoc ul li a:visited {font-size:12px; color:#FFCC00; font-weight:bold; padding:0px 0px 0px 0px; text-decoration:none; display:block; width:192px; height:26px; background-image:url(images/bg_button.jpg); background-repeat:no-repeat; padding-left:30px; line-height:24px;}*/

/* THANH CHI*-----------------*/
#thanhchi
{
    width: 210px;
    height: 164px;
    background-image: url(images/thanhchi.jpg);
    margin-left: 65px;
    margin-top: 20px;
    padding-top: 20px;
    background-repeat: no-repeat;
    float: left;
    text-align: center;
}
#thanhchi ul
{
    list-style: none;
    padding-right: 20px;
    margin-top: 5px;
}
#thanhchi ul li
{
    display: inline;
}
#thanhchi ul li img
{
    margin-left: 5px;
    margin-right: 3px;
}
.tctext
{
    font-size: 12px;
    color: #612700;
    text-decoration: none;
}
.tctext:hover
{
    font-size: 12px;
    color: #612700;
    text-decoration: underline;
    cursor: pointer;
}
.number
{
    font-size: 14px;
    font-weight: bold;
    color: #d30606;
    text-decoration: none;
    line-height: 20px;
}
.number:hover
{
    font-size: 14px;
    font-weight: bold;
    color: #d30606;
    text-decoration: underline;
}
.support
{
    font-size: 12px;
    color: #612700;
}

.cart
{
    font-size: 12px;
    color: #612700;
    padding-top: 50px;
}

#hinhquangcao
{
    width: 200px;
    margin-left: 65px;
    margin-top: 20px;
    background-repeat: no-repeat;
    float: left;
}


/*RIGHT */
#bg_content
{
    height: auto;
    background-color: #efe6d5;
    overflow: hidden;
    display: block;
    margin: 0px 43px 0px 0px; 
    width: 656px;
    float:left;       
}


/*****************Noi dung chinh*********************************************************/

/*-----------NOI DUNG TRANG SAN PHAM _ PAGE 1-------------------------------------- */
#product
{
    width: 208px;
    height: 230px;
    background-image: url(images/bg_sp.jpg);
    background-repeat: no-repeat;
    margin-right: 10px;
    overflow: hidden;
    float: left;
}
#product img
{
    margin: 5px;
    padding-top: 10px;
}
#product ul
{
    list-style: none;
    padding: 5px;
}
.product_name
{
    font-size: 12px;
    font-weight: bold;
    color: #d30606;
    text-decoration: none;
}
.product_name:hover
{
    font-size: 12px;
    font-weight: bold;
    color: #d30606;
    text-decoration: underline;
}
.bu_more
{
    width: 42%;
    height: 21px;
    background-image: url(images/bg_more.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    float: left;
    margin-left: 20px;
}
.bu_check
{
    width: 42%;
    height: 21px;
    background-image: url(images/bg_more.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    float: right;
    margin-right: 10px;
}
.gia
{
    font-size: 12px;
    color: #612700;
    text-decoration: none;
}

#bu_more ul
{
    list-style: none;
    display: block;
    vertical-align: middle;
}
.more
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 10px;
}
.more:hover
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: underline;
}
.check
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 3px;
    margin-right: 5px;
}
.check:hover
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: underline;
}

/*------------NOI DUNG TRANG SAN PHAM _ PAGE 2------------------------------------- */

#hinhsp
{
    width: 250px;
    height: 180px;
    margin-right: 10px;
    display: block;
    float: left;
    padding-top: 10px;
}
#tensp
{
    padding-top: 10px;
    padding-right: 20px;
}
.productname
{
    font-size: 14px;
    font-weight: bold;
    color: #D30606;
}
#noidungtomtat
{
    padding-top: 30px;
    padding-right: 20px;
}
#noidungtomtat ul
{
    list-style: none;
    text-align: left;
}
#noidungtomtat a.tomtat
{
    font-size: 12px;
    color: #612700;
}

#bu_check2
{
    width: 75px;
    height: 21px;
    background-image: url(images/bg_more.jpg);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 5px;
    display: block;
    float: left;
    padding-left: 12px;
    padding-top: 2px;
}
#bu_viewcart
{
    width: 92px;
    height: 21px;
    background-image: url(images/buttonbig.jpg);
    background-repeat: no-repeat;
    margin-top: 50px;
    margin-left: 5px;
    display: block;
    float: left;
    padding-left: 12px;
    padding-top: 2px;
}
.checkout
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}
.checkout:hover
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: underline;
}
.viewcart
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}
.viewcart:hover
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: underline;
}

#noidungchitiet
{
    padding-top: 100px;
    padding-right: 20px;
    text-align: left;
}
#noidungchitiet p
{
    font-size: 12px;
    color: #612700;
}

#sanphamcungloai
{
    width: 630px;
    height: 20px;
    background-image: url(images/linexoan.jpg);
    background-repeat: no-repeat;
    margin: 30px 20px 0px 0;
    display: block;
    float: left;
}
.other_title
{
    font-size: 12px;
    font-weight: bold;
    color: #d30606;
    float: left;
    display: block;
    padding-left: 10px;
    margin-bottom: 10px;
}
#otherproduct img
{
    margin-right: 10px;
}
#otherproduct ul
{
    text-align: left;
}
.other_name
{
    font-size: 12px;
    color: #9e5901;
    font-weight: bold;
    text-decoration: none;
}
.other_name:hover
{
    font-size: 12px;
    color: #9e5901;
    font-weight: bold;
    text-decoration: underline;
}

/*-----------NOI DUNG TRANG SAN PHAM _ PAGE 3 _ GIO HANG-------------------------------------- */

#freetext1
{
    display: block;
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
}
#freetext1 p
{
    font-size: 12px;
    color: #612700;
}
#table_cart1
{
    width: 636px;
    border: #c08328 solid 1px;
    display: block;
    float: left;
    margin-top: 20px;
    text-align: center;
}
.tab_title
{
    font-size: 12px;
    color: #FFFFFF;
}
.tab_content
{
    font-size: 12px;
    color: #612700;
}
#button_cart
{
    width: 636px;
    height: 21px;
    display: block;
    float: left;
}
#button_cart_bg
{
    width: 75px;
    height: 21px;
    background-image: url(images/bg_more.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 3px;
}
.button_text
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: none;
}
.button_text:hover
{
    font-size: 11px;
    color: #FFFFFF;
    text-decoration: underline;
}

#table_cart2
{
    width: 636px;
    height: auto;
    border: #c08328 solid 1px;
    display: block;
    float: left;
    margin-top: 30px;
    text-align: left;
}
#table_cart2 p
{
    margin-top: 40px;
    margin-bottom: 20px;
}
#table_tab
{
    width: 632px;
    height: 22px;
    background-image: url(images/tabbg6.jpg);
    background-repeat: repeat-x;
    margin-top: 2px;
    display: block;
    float: left;
    text-align: left;
    padding-top: 3px;
    margin-left: 2px;
}
#table_tab a
{
    margin-left: 20px;
}
#table_cart2 p
{
    padding-left: 20px;
    text-align: left;
}
#freetext2
{
    display: block;
    float: left;
    text-align: left;
    margin-top: 20px;
    margin-right: 10px;
}
#freetext2 p
{
    font-size: 12px;
    color: #612700;
    margin-top: 20px;
}

/*--------------------------------------+-----+----DANG KY THONG TIN TAI KHOAN----+-----+--------------------------------------*/
/*-----------------------------------------------------------+-----+-----------------------------------------------------------*/

#formdangkythanhvien
{
    width: 636px;
    height: auto;
    display: block;
    float: left;
}
#kieugo
{
    display: block;
    float: left;
    margin: 0px 0px 10px 140px;
}
#textbox_name
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 3px;
    margin-bottom: 10px;
}
#box_name
{
    width: 80px;
    display: block;
    float: left;
    margin-left: 50px;
}
.name
{
    font-size: 12px;
    color: #612700;
}
#box
{
    width: 450px;
    display: block;
    float: left;
    margin-left: 10px;
}
#button_form
{
    width: 400px;
    display: block;
    float: left;
    margin-left: 140px;
}

/*-----------ÐANG NHAP------------------------------------------ */

#taikhoan
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 20px;
    padding-left: 140px;
    margin-bottom: 10px;
}
.text_bold
{
    font-size: 12px;
    font-weight: bold;
    color: #612700;   
}
#formdangnhap
{
    width: 636px;
    height: auto;
    display: block;
    float: left;
    margin-top: 10px;
}
#button_dangnhap_bg
{
    width: 75px;
    height: 21px;
    background-image: url(images/bg_more.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-left: 140px;
    padding-top: 3px;
}



/*--------------------------------------------+-----+----THU SUC - NHAN QUA----+-----+-----------------------------------------*/
/*-------------------------------------------------------------+-----+---------------------------------------------------------*/
/*-----------THU SUC NHAN QUA _ PAGE 1------------------------------------------ */

#cuocthi
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 10px;
}
#hinhanh
{
    display: block;
    float: left;
    margin-right: 10px;
}
#hinhanh_img
{
    display: block;
    float: left;
}
#cuocthi_tt
{
    display: block;
    float: left;
}
cuocthi_tt_text
{
    width: 576px;
    display: block;
    float: left;
}
#cuocthi_tt_text h3
{
    text-align: left;
    font-size: 14px;
    color: #a05803;
    padding-bottom: 10px;
}
#cuocthi_tt_text p
{
    width: 100%;
    display: block;
    float: left;
    text-align: left;
}
#thamgia_button
{
    width: 92px;
    height: 21px;
    background-image: url(images/buttonbig.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-top: 10px;
    padding-top: 3px;
}


/*-----------THU SUC NHAN QUA _ PAGE 2------------------------------------------ */

#tencuocthi
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 10px;
    text-align: left;
}
#freetext3
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 20px;
}
#freetext3 p
{
    width: 100%;
    text-align: left;
}
#checkbox_dongy
{
    display: block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#checkbox_dongy input
{
    display: block;
    float: left;
}
#checkbox_dongy a
{
    display: block;
    float: left;
}

#dongythamgia
{
    width: 100%;
    height: 21px;
    background-image: url(images/buttonbig.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-top: 20px;
    padding-top: 3px;
    padding-left: 20px;
}

/*-----------THU SUC NHAN QUA _ PAGE 3------------------------------------------ */

#type01
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 15px;
}
#type01 input
{
    display: block;
    float: left;
}
#type01 a
{
    display: block;
    float: left;
    padding-left: 5px;
}
.text_bold
{
    font-size: 12px;
    font-weight: bold;
    color: #612700;
    text-decoration: none;
}
.text
{
    font-size: 12px;
    color: #612700;
}
#type01_form
{
    width: 100%;
    display: block;
    float: left;
}
#type01_box
{
    display: block;
    float: left;
    margin-left: 140px;
    margin-top: 10px;
}
#type01_button
{
    width: 75px;
    height: 21px;
    background-image: url(images/bg_more.jpg);
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 3px;
}
#type01_button a
{
    padding-left: 15px;
    padding-top: 5px;
}
.note
{
    padding-left: 140px;
}

#type02
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 20px;
}
#type02 input
{
    display: block;
    float: left;
}
#type02 a
{
    display: block;
    float: left;
    padding-left: 5px;
}
#formguitruyencuoi
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 20px;
}
#type02_button
{
    width: 100%;
    display: block;
    float: left;
    padding-left: 140px;
    text-align: center;
}

/*-----------THU SUC NHAN QUA _ PAGE 4------------------------------------------ */

#cauhoi
{
    width: 636px;
    display: block;
    float: left;
    text-align: left;
    margin-top: 15px;
}
#noidugncauhoi
{
    width: 636px;
}
#cautraloi
{
    width: 100%;
}
#cautraloi input
{
    margin-left: 20px;
    margin-top: 10px;
}
#cautraloi a
{
    margin-left: 3px;
    margin-right: 100px;
}




/*-----------------------------------------------+-----+----VE PHAN NU----+-----+----------------------------------------------*/
/*-----------------------------------------------------------+-----+-----------------------------------------------------------*/
/*-----------PHONG SU TREN BAO CHI _ PAGE 1------------------------------------------ */

#phongsu
{
    width: 636px;
    display: block;
    float: left;
    text-align: left;
    margin-top: 10px;
}
#tenphongsu
{
    width: 636px;
    margin-top: 10px;
}
.tieudephongsu
{
    color: #a05803;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
#phongsu_hinh img
{
    display: block;
    float: left;
    margin-top: 05px;
    margin-right: 10px;
}
#phongsu_noidung
{
    widows: 500px;
    margin-top: 05px;
}
#phongsu_noidung p
{
    margin-bottom: 5px;
}
.phantrang
{
    width: 636px;
    margin-top: 20px;
    display: block;
    float: left;
}
.phantrang td span
{
    color: #FF0000;
    font-weight: bold;
    text-decoration: none;
}
.phantrang td a
{
    font-weight: bold;
    text-decoration: none;
    color: #a05803;
}
.phantrang td a:hover
{
    font-weight: bold;
    text-decoration: underline;
    color: #FF0000;
}



/*-----------PHONG SU TREN BAO CHI _ PAGE 2------------------------------------------ */
#tenphongsuchinh
{
    width: 636px;
    margin-top: 10px;
    display: block;
    float: left;
    text-align: left;
}
.tieudephongsuchinh
{
    font-size: 14px;
    font-weight: bold;
    color: #a05803;
}
#phongsukhac
{
    width: 630px;
    height: 20px;
    background-image: url(images/linexoan.jpg);
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 10px;
    display: block;
    float: left;
}
#tenphongsukhac
{
    width: 636px;
    display: block;
    float: left;
    margin-top: 5px;
    text-align: left;
    margin-left: 15px;
}
.other_event
{
    font-size: 12px;
    color: #a05803;
    font-weight: bold;
    text-decoration: none;
}
.other_event:hover
{
    font-size: 12px;
    color: #a05803;
    font-weight: bold;
    text-decoration: underline;
}























/*Bottom-----------------------------------------------------------------------------------------------------------------------*/
#line
{
    width: 100%;
    height: 80px;
    background-image: url(images/bottom.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
    margin-top: 40px;
}
#menubottom
{
    width: 998px;
    height: 30px;
    background-image: url(images/menubottom.jpg);
    background-repeat: no-repeat;
    overflow: hidden;
}
#menubottom ul
{
    margin-top: 5px;
}
#menubottom ul li
{
    display: inline;
    color: #CCCCCC;
}
.menu
{
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}
.menu:hover
{
    font-size: 12;
    font-weight: bold;
    color: #c56304;
    text-decoration: underline;
}
#bg_bottom
{
    width: 998px;
    height: 39px;
    background-image: url(images/bg_bottom.jpg);
    background-repeat: repeat-y;
    overflow: hidden;
    padding-top: 10px;
}
.copyright
{
    font-size: 12px;
    color: #d30606;
}

/*Form gui ban be----------------------------------------------------------------------*/

#contain_popup
{
    width: 998px;
    height: auto;
    margin: auto;
    padding: 0px;
}
#form_guibanbe
{
    width: 540px;
    height: auto;
    display: block;
    float: left;
    margin-left: 230px;
    margin-top: 100px;
    background-image: url(images/formbg.jpg);
    background-repeat: repeat-y;
}
#formbgTop
{
    width: 540px;
    height: 14px;
    display: block;
    float: left;
    background-image: url(images/formbgtop.jpg);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
#formbgMiddle
{
    width: 540px;
    height: auto;
    display: block;
    float: left;
    background-image: url(images/formbg.jpg);
    background-repeat: repeat-y;
    margin-top: 10px;
}
#formbgBottom
{
    width: 540px;
    height: 14px;
    display: block;
    float: left;
    background-image: url(images/formbgbottom.jpg);
    background-repeat: no-repeat;
    margin-top: 30px;
}
#box_name2
{
    width: 120px;
    display: block;
    float: left;
    margin-left: 10px;
    text-align: left;
    padding-left: 40px;
}
#box2
{
    width: 300px;
    display: block;
    float: left;
    text-align: left;
    margin-left: 10px;
}
#form_btn
{
    width: 300px;
    text-align: center;
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 120px;
}
/*-------------------------------------FAQ------------------------------------------*/
.question
{
    background-image: url("images/bgquest.jpg");
    background-repeat: repeat;
    display: block;
    line-height: 40px;
    margin-top: 3px;
    padding-left: 15px;    
    cursor:none;    
}
.question:hover
{
    background-image: url("images/bgquest.jpg");
    background-repeat: repeat;
    display: block;
    line-height: 40px;
    margin-top: 3px;
    padding-left: 15px;    
    cursor:pointer;    
}
.answer
{
    background-color: #EFE6D5;   
    width: 640px;
    margin-top:10px;
    margin-bottom:10px;
}

#bannerlist
{
    text-align:center;   
    width: 225px;
    display:block;
    float:right;
}

#banner
{    
    padding-top:20px;   
}

#banner img
{
    border:none 0 #ffffff;
}