<connectionStrings>
    <!--<add name="NopSqlConnection" connectionString="Data Source=DANTEPC\LOCALHOST;Initial Catalog=PhanNuNew;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=123;Connect Timeout=120" />-->
  <add name="NopSqlConnection" connectionString="Data Source=118.69.204.196;Initial Catalog=phannu2010;Integrated Security=False;Persist Security Info=False;User ID=ph@nnu211;Password=ph@nnu211;Connect Timeout=120" />
</connectionStrings>