<urlrewritingnet
   rewriteOnlyVirtualUrls="true"
   contextItemsPrefix="QueryString"
   defaultPage="default.aspx"
   defaultProvider="RegEx"
   xmlns="http://www.urlrewriting.net/schemas/config/2006/07" >
  <rewrites>    
    <add name="ProductDetailsRewrite" virtualUrl="^~/san-pham/([0-9]*)-([\w-]*).aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Product.aspx?ProductID=$1"
         ignoreCase="true" />
    <add name="CategoryDetailsRewrite" virtualUrl="^~/bo-san-pham/([0-9]*)-([\w-]*).aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Category.aspx?CategoryID=$1"
         ignoreCase="true" />
    <add name="NewsListRewrite" virtualUrl="^~/ve-phan-nu/([0-9]*)-([\w-]*).aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/NewsList.aspx?ForumID=$1"
         ignoreCase="true" />
    <add name="NewsDetailsRewrite" virtualUrl="^~/ve-phan-nu/([\w-]*)/([0-9]*)-([\w-]*).aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/NewsDetail.aspx?TopicID=$2"
         ignoreCase="true" />
    <add name="NewsListSkinRewrite" virtualUrl="^~/lan-da-dep/([0-9]*)-([\w-]*).aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/NewsListSkin.aspx?ForumID=$1"
        ignoreCase="true" />
    <add name="NewsDetailsSkinRewrite" virtualUrl="^~/lan-da-dep/([\w-]*)/([0-9]*)-([\w-]*).aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/NewsDetailSkin.aspx?TopicID=$2"
         ignoreCase="true" />
    <add name="GameIntroduction" virtualUrl="^~/thu-suc.aspx"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Game1Introduction.aspx"
         ignoreCase="true" />
    <add name="GamePlay" virtualUrl="^~/thu-suc/tra-loi.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/Game1Play.aspx"
        ignoreCase="true" />
    <add name="GameAward" virtualUrl="^~/thu-suc/ket-qua.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/Game1Award.aspx"
        ignoreCase="true" />
    <add name="GameOver" virtualUrl="^~/thu-suc/ket-thuc.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/Game1Over.aspx"
        ignoreCase="true" />
    <add name="FAQ" virtualUrl="^~/hoi-dap.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/FAQ.aspx"
        ignoreCase="true" />
    <add name="ContactUs" virtualUrl="^~/lien-he.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/ContactUs.aspx"
        ignoreCase="true" />
    <add name="SalePolicy" virtualUrl="^~/chinh-sach-ban-hang.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/SalePolicy.aspx"
        ignoreCase="true" />
    <add name="ShoppingGuide" virtualUrl="^~/huong-dan-mua-hang.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/ShoppingGuide.aspx"
        ignoreCase="true" />
    <add name="PaymentMethod" virtualUrl="^~/phuong-thuc-thanh-toan.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/PaymentMethod.aspx"
        ignoreCase="true" />
    <add name="PrivacyPolicy" virtualUrl="^~/bao-mat-ca-nhan.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/PrivacyPolicy.aspx"
        ignoreCase="true" />
    <add name="WebsiteMap" virtualUrl="^~/so-do-site.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/WebsiteMap.aspx"
        ignoreCase="true" />
    <add name="Account" virtualUrl="^~/tai-khoan.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/Account.aspx"
        ignoreCase="true" />
    <add name="BillingAddressEdit" virtualUrl="^~/tai-khoan/diachi/thanh-toan.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/AddressEdit.aspx?IsBillingAddress=true"
        ignoreCase="true" />
    <add name="ShippingAddressEdit" virtualUrl="^~/tai-khoan/diachi/giao-hang.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/AddressEdit.aspx?IsBillingAddress=false"
        ignoreCase="true" />
    <add name="AddressEdit" virtualUrl="^~/tai-khoan/dia-chi/capnhat/([0-9]*).aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/AddressEdit.aspx?AddressID=$1"
        ignoreCase="true" />
    <add name="OrderDetail" virtualUrl="^~/don-hang/([0-9]*).aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/OrderDetails.aspx?OrderID=$1"
        ignoreCase="true" />
    <add name="PrintOrderDetail" virtualUrl="^~/don-hang/in/([0-9]*).aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/PrintOrderDetails.aspx?OrderID=$1"
        ignoreCase="true" />   
    <add name="ShoppingCart" virtualUrl="^~/gio-hang.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/ShoppingCart.aspx"
        ignoreCase="true" />
    <add name="CheckoutShippingAddress" virtualUrl="^~/thong-tin-giao-hang.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CheckoutShippingAddress.aspx"
        ignoreCase="true" />
    <add name="CheckoutBillingAddress" virtualUrl="^~/thong-tin-thanh-toan.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CheckoutBillingAddress.aspx"
        ignoreCase="true" />
    <add name="CheckoutPaymentMethod" virtualUrl="^~/phuong-thuc-thanh-toan.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CheckoutPaymentMethod.aspx"
        ignoreCase="true" />
    <add name="CheckoutPaymentInfo" virtualUrl="^~/phuong-thuc-thanh-toan/thong-tin.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CheckoutPaymentInfo.aspx"
        ignoreCase="true" />
    <add name="CheckoutConfirm" virtualUrl="^~/xac-nhan-don-hang.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CheckoutConfirm.aspx"
        ignoreCase="true" />
    <add name="CheckoutCompleted" virtualUrl="^~/hoan-tat.aspx"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/CheckoutCompleted.aspx"
        ignoreCase="true" />

    <add name="ManufacturerDetailsRewrite" virtualUrl="^~/Manufacturer/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Manufacturer.aspx?ManufacturerID=$1&amp;$3"
         ignoreCase="true" />
    <add name="BlogDetailsRewrite" virtualUrl="^~/Blog/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
        rewriteUrlParameter="ExcludeFromClientQueryString"
        destinationUrl="~/BlogPost.aspx?BlogPostID=$1&amp;$3"
        ignoreCase="true" />
    <add name="TopicDetailsRewrite" virtualUrl="^~/Topic/([0-9]*)-([\w-]*)\.aspx(?:\?(.*))?"
         rewriteUrlParameter="ExcludeFromClientQueryString"
         destinationUrl="~/Topic.aspx?TopicID=$1&amp;$3"
         ignoreCase="true" />
  </rewrites>
</urlrewritingnet>
